* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 38px 1fr;
  overflow: hidden;
  background: rgb(223, 222, 222);
}
.container .sub-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0.35em;
}

header {
  width: 100%;
  height: max-content;
  background: rgb(2, 123, 167);
}
header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-container .site-logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .header-container .site-logo .logo-home-link {
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  font-style: italic;
  color: rgba(255, 255, 255, 0.823);
}
header .header-container .nav-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .header-container .nav-user .logged-out-nav button {
  border: none;
  background: rgba(255, 255, 255, 0.823);
  color: rgb(2, 123, 167);
  font-size: 0.95em;
  padding: 0.25em 1.5em;
  border-radius: 0.13em;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  margin-left: 0.35em;
}
header .header-container .nav-user .logged-in-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .header-container .nav-user .logged-in-nav .username-span {
  font-size: small;
  font-weight: bold;
  font-style: italic;
  color: rgba(255, 255, 255, 0.823);
}
header .header-container .nav-user .logged-in-nav .user-profile {
  transform: scale(0);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}
header .header-container .nav-user .logged-in-nav .logout-btn {
  position: relative;
  z-index: 3;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  margin-left: 0.3em;
  padding: 0.15em 1.5em;
  border-radius: 0.15em;
  border: 1px solid rgba(255, 255, 255, 0.823);
  background: transparent;
  color: rgba(255, 255, 255, 0.823);
  transition: 1s;
}
header .header-container .nav-user .logged-in-nav .logout-btn span {
  position: absolute;
  z-index: -3;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.823);
  border-radius: 0.15em;
  transition: 1s;
}
header .header-container .nav-user .logged-in-nav .logout-btn:hover {
  color: rgb(2, 123, 167);
  border: none;
}
header .header-container .nav-user .logged-in-nav .logout-btn:hover span {
  width: 100%;
}

@media screen and (max-width: 712px) {
  header .header-container .nav-user .logged-in-nav .user-profile {
    transform: scale(1);
    margin-left: 0.3em;
    width: 28px;
    height: 28px;
  }
}
.home-container {
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.home-container .home-content {
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  overflow: hidden;
}
.home-container .home-content .home-content-container {
  padding: 0;
  height: 100%;
  grid-column: 1/5;
  overflow: hidden;
}
.home-container .home-content .home-right-container {
  position: relative;
  height: 100%;
  grid-column: 5/7;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.home-container .home-content .home-right-container .home-right-container-close-btn {
  position: absolute;
  top: -3px;
  right: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.3em;
  color: rgb(145, 0, 0);
  z-index: 23;
  display: none;
}
.home-container .home-content .home-right-container .login-spinner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(223, 222, 222);
}
.home-container .home-content .home-right-container .login-spinner .spinner {
  padding: 4em;
  position: relative;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container .home-content .home-right-container .login-spinner .spinner .ring {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 3px solid;
  border-color: rgb(2, 123, 167) rgb(2, 123, 167) rgb(2, 123, 167) transparent;
  animation: spinner 1s infinite linear;
}
@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
.home-container .home-content .home-right-container .login-spinner .spinner .ring .ring-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid;
  border-color: rgb(2, 123, 167) transparent rgb(2, 123, 167) rgb(2, 123, 167);
  animation: spinner2 0.5s infinite linear;
}
@keyframes spinner2 {
  100% {
    transform: rotate(-360deg);
  }
}
.home-container .home-content .home-right-container .login-spinner .spinner .ring .ring-2 .ring-3 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 3px solid;
  border-color: rgb(2, 123, 167) rgb(2, 123, 167) rgb(2, 123, 167) transparent;
  animation: spinner3 0.3s infinite linear;
}
@keyframes spinner3 {
  100% {
    transform: rotate(360deg);
  }
}
.home-container .home-content .home-right-container .form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(210, 210, 210);
}
.home-container .home-content .home-right-container .form-container form {
  position: relative;
  width: 95%;
  margin: 0.3em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(2, 123, 167);
  border-radius: 0.3em;
}
.home-container .home-content .home-right-container .form-container form.error {
  border: none;
}
.home-container .home-content .home-right-container .form-container form.error::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  border-radius: 0.3em;
  box-sizing: border-box;
  animation: grow-border 0.3s infinite alternate;
}
@keyframes grow-border {
  100% {
    width: 100%;
    height: 100%;
    border-color: rgb(145, 0, 0);
  }
}
.home-container .home-content .home-right-container .form-container form.error::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 0.3em;
  box-sizing: border-box;
  animation: grow-border 0.3s infinite alternate;
}
@keyframes grow-border {
  100% {
    width: 100%;
    height: 100%;
    border-color: rgb(145, 0, 0);
  }
}
.home-container .home-content .home-right-container .form-container form h3 {
  margin: 0.35em;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: rgb(2, 123, 167);
}
.home-container .home-content .home-right-container .form-container form .input-controll {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0.23em 0;
}
.home-container .home-content .home-right-container .form-container form .input-controll input {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.95em;
  background: transparent;
  outline: none;
  border: 2px solid rgba(182, 182, 182, 0.509);
  border-radius: 0.25em;
  padding: 0.3em 0.75em;
}
.home-container .home-content .home-right-container .form-container form .input-controll input:focus {
  border-color: rgba(135, 135, 135, 0.509);
}
.home-container .home-content .home-right-container .form-container form .input-controll .error {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  font-style: italic;
  color: rgb(145, 0, 0);
}
.home-container .home-content .home-right-container .form-container form .btn-container {
  margin-bottom: 0.5em;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home-container .home-content .home-right-container .form-container form .btn-container .submit-btn {
  border: none;
  border-radius: 0.15em;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.95em;
  padding: 0.25em 1.5em;
  background: rgb(2, 123, 167);
  color: white;
  transition: 1s;
}
.home-container .home-content .home-right-container .form-container form .btn-container .submit-btn:active {
  opacity: 0.5;
}
.home-container .home-content .home-right-container .form-container form .btn-container .nav-link-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  color: rgb(2, 123, 167);
  font-size: small;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
.home-container .home-content .home-right-container .form-container form .btn-container .nav-link-btn:hover {
  text-decoration: underline;
}
.home-container .home-content .home-right-container .right-notification {
  width: 100%;
  height: 100%;
  background: gray;
  overflow: auto;
}
.home-container .home-content .home-right-container .right-notification::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 712px) {
  .home-container .home-content {
    position: relative;
  }
  .home-container .home-content .home-content-container {
    grid-column: 1/7;
  }
  .home-container .home-content .home-right-container {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 21;
  }
  .home-container .home-content .home-right-container .home-right-container-close-btn {
    display: block;
  }
  .home-container .home-content .home-right-container .form-container {
    padding: 0.3em 0.5em;
  }
  .home-container .home-content .home-right-container .form-container form {
    width: 100%;
  }
  .home-container .home-content .home-right-container .form-container form .input-controll,
  .home-container .home-content .home-right-container .form-container form .btn-container {
    width: 95%;
  }
}
.posts {
  width: 100%;
  height: 100%;
  padding-right: 0.13em;
  display: grid;
  grid-template-rows: 1fr 38px;
  overflow: hidden;
}
.posts .post-list {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.posts .post-list::-webkit-scrollbar {
  width: 3px;
}
.posts .post-list:hover::-webkit-scrollbar-track {
  background: rgb(210, 210, 210);
  border-radius: 3px;
}
.posts .post-list:hover::-webkit-scrollbar-thumb {
  background: rgb(152, 152, 152);
  border-radius: 3px;
}
.posts .post-list .post {
  width: 100%;
  padding-bottom: 0.15em;
  margin-bottom: 0.35em;
  border-bottom: 0.07em solid rgba(2, 123, 167, 0.3);
}
.posts .post-list .post .post-content {
  margin-left: 1.3em;
  padding: 0.3em;
}
.posts .post-list .post .post-content p {
  text-align: justify;
  padding: 0.3em;
  border-radius: 0.3em;
  background: rgb(210, 210, 210);
}
.posts .post-list .post .author-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.posts .post-list .post .author-container .user-profile-name {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.posts .post-list .post .author-container .user-profile-name img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 0.13em;
}
.posts .post-list .post .author-container .user-profile-name .author-name {
  font-weight: bold;
  font-size: small;
  font-style: italic;
  cursor: pointer;
}
.posts .post-list .post .author-container .controller-btns {
  display: flex;
  align-items: center;
}
.posts .post-list .post .author-container .controller-btns button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.1em;
  margin-right: 0.13em;
}
.posts .post-list .post .author-container .date-container {
  display: flex;
  align-items: center;
  padding-right: 0.3em;
}
.posts .post-list .post .author-container .date-container .date-span {
  font-size: small;
  font-style: italic;
  margin-right: 0.3em;
}